{% extends "base.html" %}
{% block title %} {{titre_onglet}} {% endblock %}
{% block body %}


 <!-- Image de fond du haut de page -->
 <header class="masthead text-center text-white">
 </header>


	


<!-- Section Experiances alimentée par la BDD (Experiences)-->
<section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
          	<h1 align="center"><span class="badge badge-secondary">MES ETUDES</span></h1>
            <!--<h2 class="section-heading text-uppercase">A propos de moi</h2>
            <h3 class="section-subheading text-muted">A PROPOS DE MOI</h3>-->
          </div>
        </div>

    </br>

        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">




<li>
                <div class="timeline-image">
                  <!--Image de l'experience pro dans la bulle centrale -->
                  <img class="rounded-circle img-fluid" src="public/src/img/etude.png" alt="">
                </div>

                <div class="timeline-panel">
                    <div class="timeline-heading">
                      <!--Section contenant le nom de l'entreprise-->
                      
                        <div class="p-3 mb-2 bg-warning text-dark text-uppercase font-weight-bold ">
                        EDC Paris Business School </div>
                        <!-- Sinon on affiche le nom et le lien du site de la societe-->
                    
                      <!--Section contenant le nom du poste -->
                      <h4 class="subheading">Master e-Business</h4>
                      <p class="font-weight-bold text-uppercase font-italic" >En apprentissage</p>
                      <p class="font-weight-bold text-uppercase font-italic" >BAC +5</p>

                      <!--Section contenant la date de debut et de fin du projet-->
                      <p class="font-weight-bold"> Octobre 2019 - Octobre 2020</p>
                      
          </div>
                </div>
            </li>



<!-- Affichage a droite de l'ecran -->
         <li class="timeline-inverted">
                              <div class="timeline-image">
                  <!--Image de l'experience pro dans la bulle centrale -->
                  <img class="rounded-circle img-fluid" src="public/src/img/etude.png" alt="">
                </div>

                <div class="timeline-panel">
                    <div class="timeline-heading">
                      <!--Section contenant le nom de l'entreprise-->
                      
                        <div class="p-3 mb-2 bg-warning text-dark text-uppercase font-weight-bold ">
                        EDC Paris Business School</div>
                        <!-- Sinon on affiche le nom et le lien du site de la societe-->
                    
                      <!--Section contenant le nom du poste -->
                      <h4 class="subheading">Master e-Business</h4>
                      <p class="font-weight-bold text-uppercase font-italic" >En apprentissage</p>
                      <p class="font-weight-bold text-uppercase font-italic" >BAC +4</p>

                      <!--Section contenant la date de debut et de fin du projet-->
                      <p class="font-weight-bold"> Octobre 2018 - Octobre 2019</p>
                      
          </div>
                </div>
            </li>





			    <li>
                <div class="timeline-image">
                	<!--Image de l'experience pro dans la bulle centrale -->
                  <img class="rounded-circle img-fluid" src="public/src/img/etude.png" alt="">
                </div>

                <div class="timeline-panel">
                  	<div class="timeline-heading">
                  		<!--Section contenant le nom de l'entreprise-->
                      
  	                  	<div class="p-3 mb-2 bg-warning text-dark text-uppercase font-weight-bold ">
  	                  	IUT de Bobigny </div>
                        <!-- Sinon on affiche le nom et le lien du site de la societe-->
                    
	                  	<!--Section contenant le nom du poste -->
	                  	<h4 class="subheading">Licence professionnelle Développeur Web et Mobile</h4>
                      <p class="font-weight-bold text-uppercase font-italic" >En apprentissage</p>
                      <p class="font-weight-bold text-uppercase font-italic" >BAC +3</p>

	                  	<!--Section contenant la date de debut et de fin du projet-->
	                  	<p class="font-weight-bold"> Septembre 2017 - Septembre 2018</p>
                      
					</div>
                </div>
            </li>
             

	
				<!-- Affichage a droite de l'ecran -->
				 <li class="timeline-inverted">
                              <div class="timeline-image">
                  <!--Image de l'experience pro dans la bulle centrale -->
                  <img class="rounded-circle img-fluid" src="public/src/img/etude.png" alt="">
                </div>

                <div class="timeline-panel">
                    <div class="timeline-heading">
                      <!--Section contenant le nom de l'entreprise-->
                      
                        <div class="p-3 mb-2 bg-warning text-dark text-uppercase font-weight-bold ">
                        Lycée tchnologique Voillaume</div>
                        <!-- Sinon on affiche le nom et le lien du site de la societe-->
                    
                      <!--Section contenant le nom du poste -->
                      <h4 class="subheading">BTS Services informatiques aux organisations option B solutions logicielles et applications métiers</h4>
                    
                      <p class="font-weight-bold text-uppercase font-italic" >BAC +2</p>

                      <!--Section contenant la date de debut et de fin du projet-->
                      <p class="font-weight-bold"> Septembre 2016 - Septembre 2017</p>
                      
          </div>
                </div>
            </li>


            <li>
                         <div class="timeline-image">
                  <!--Image de l'experience pro dans la bulle centrale -->
                  <img class="rounded-circle img-fluid" src="public/src/img/etude.png" alt="">
                </div>

                <div class="timeline-panel">
                    <div class="timeline-heading">
                      <!--Section contenant le nom de l'entreprise-->
                      
                        <div class="p-3 mb-2 bg-warning text-dark text-uppercase font-weight-bold ">
                        Lycée tchnologique Voillaume</div>
                        <!-- Sinon on affiche le nom et le lien du site de la societe-->
                    
                      <!--Section contenant le nom du poste -->
                      <h4 class="subheading">BTS Services informatiques aux organisations option B solutions logicielles et applications métiers</h4>
                    
                      <p class="font-weight-bold text-uppercase font-italic" >BAC +1</p>

                      <!--Section contenant la date de debut et de fin du projet-->
                      <p class="font-weight-bold"> Septembre 2015 - Septembre 2016</p>
                      
          </div>
                </div>
            </li>
  


          
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Obtention 
                    <br>de mon
                    <br>Baccalauréat</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>


      </div>
    </section>


{% endblock %}
