<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Simon RUGOR - Portfolio</title>

  <!-- Chargement de la librairie CSS de bootstrap -->
  <link rel="stylesheet" href="public/src/vendor/bootstrap/css/bootstrap.min.css"></link>

  <!-- Chargements des fonts Google -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <link rel="icon" type="image/png" href="public/src/img/img_sr.jpeg" />

     <!-- Chargement du custom code Bootstrap -->
    <link href="public/src/css/one-page-wonder.css" rel="stylesheet">
    <link href="public/src/css/agency.css" rel="stylesheet">

</head>

<body>

    <!-- Bloc de navogation (Menu) -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <!-- Container de Bootstrap afin d'avoir des marges des deux côtés de la page -->
      <div class="container">
        <!-- Titre du menu -->
        <a class="navbar-brand" href="accueil">Simon RUGOR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <!-- Elements du Menu-->
          <ul class="navbar-nav ml-auto">

           <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                A propos de moi
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" target="_blank" href="public/cv/RUGOR_Simon_CV.pdf">Télecharger mon CV</a>
              </div>
            </li>-->

            <li class="nav-item">
              <a class="nav-link" target="_blank" href="public/cv/RUGOR_Simon_CV.pdf">Mon CV</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="competences">Mes compétences</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="experiences">Mes expériences</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="etudes">Mes études</a>
            </li>



          </ul>
        </div>
      </div>
    </nav>



    {% block body %}
    {% endblock %}

    {% block footer %}
      <!-- Footer -->
      <footer class="py-5 bg-black">
        <div class="container">
          <p class="m-0 text-center text-white small">
            Vous avez des questions ? Me contacter via les informations ci-dessous ! <br>
            Tél: 06 52 57 54 52 <br>
            Mail : rugor.simon@yahoo.com
          </p>
        </div>
        <!-- /.container -->
      </footer>

      <!-- Bootstrap core JavaScript -->
      <script src="public/src/vendor/jquery/jquery.min.js"></script>
      <script src="public/src/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
  </div>

</body>

</html>



