{% extends "base.html" %}
{% block title %} Competences {% endblock %}
{% block body %}


 <!-- Image de fond du haut de page -->
 <header class="masthead text-center text-white">
 </header>


	


<!-- Section Experiances alimentée par la BDD (Experiences)-->
<section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
          	<h1 align="center"><span class="badge badge-secondary">MES COMPETENCES</span></h1>
            <!--<h2 class="section-heading text-uppercase">A propos de moi</h2>
            <h3 class="section-subheading text-muted">A PROPOS DE MOI</h3>-->
          </div>
        </div>

    </br>




<!-- Les bases, intermediaire, comfirmé, expert-->

<div class="row">
  <div class="col-lg-4"><h3> Langages </h3>

    {% for lang in langages %}
      {{lang.intitule_competence}}
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{lang.pourcentage}}%">
         {{lang.niveau_competence}}
        </div>
      </div>
    {% endfor %}

  </div>


  <div class="col-lg-4"><h3> Framework </h3>


              SYMFONY
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                  Niveau comfirmé
                </div>
              </div>
               CORDOVA
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                  Niveau expert
                </div>
              </div>
              IONIC
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                  Niveau expert
                </div>
              </div>
              BOOTSTRAP
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                  Niveau expert
                </div>
              </div>
              MATERIALIZE
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                  Niveau expert
                </div>
              </div>

              REACT NATIVE (en cours d'apprentissage)
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                  
                </div>
              </div>
              ANGULAR 5 (en cours d'apprentissage)
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                  
                </div>
              </div>



  </div>




  <div class="col-lg-4"><h3> CMS </h3>
              DRUPAL
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                  Niveau expert
                </div>
              </div>
              WORDPRESS
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                  Niveau expert
                </div>
              </div>
              PRESTASHOP
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                  Niveau expert
                </div>
              </div>
              ELGG
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                  Niveau expert
                </div>
              </div>
  </div>



</div>


</br></br></br>

    </div>











      </div>
    </section>


{% endblock %}
