{% extends "base.html" %}
{% block title %} {{titre_onglet}} {% endblock %}
{% block body %}

    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
         

          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <div class="black_color_custom" >
                <img src="public/src/img/logo.png" alt="..." class="img-fluid">
                <!--<h1 class="display-3" >RUGOR Simon</h1>-->
                 <p class="lead" font color="red">Je m’appelle Simon RUGOR, j’ai 21 ans j’habite à Montfermeil et je suis   actuellement en 3ème année de Licence professionnelle Parcours développement Web et Mobile en apprentissage.
                 </p>
                <!-- <img src="public/src/img/logo_portfolio_gris.png">-->
                 
              </div>
              
             
            </div>
          </div>
       
          <!-- <h1 class="masthead-heading mb-0">One Page Wonder</h1>
          <h2 class="masthead-subheading mb-0">Will Rock Your Socks Off</h2>
          <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>-->

        </div>
      </div>
      <!--<div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>-->
    </header>






{% endblock %}
