{% extends "base.html" %}
{% block title %} {{titre_onglet}} {% endblock %}
{% block body %}


 <!-- Image de fond du haut de page -->
 <header class="masthead text-center text-white">
 </header>


	


<!-- Section Experiances alimentée par la BDD (Experiences)-->
<section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
          	<h1 align="center"><span class="badge badge-secondary">EXPERIENCES</span></h1>
            <!--<h2 class="section-heading text-uppercase">A propos de moi</h2>
            <h3 class="section-subheading text-muted">A PROPOS DE MOI</h3>-->
          </div>
        </div>

    </br>

        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">

            <!--Initialisation de la variable qui va être incrementée dans la boucle for -->
            {% set compteur = 0 %}

            <!--Boucle for, qui va afficher les experiences de la BDD -->
			      {% for datas in data %}

				<!--Incremente de 1 la variable compteur -->
                {% set compteur = compteur + 1 %}

			<!--On test si a chaque tour de boucle, si la variable compteur est pair ou impair.
			Si la variable est impair , la prmeiere experience s'affiche a gauche et les pair a droite -->
			{% if compteur%2 == 1 %}
				<!--Affichage a gauche de l'ecran -->
			    <li>
                <div class="timeline-image">
                	<!--Image de l'experience pro dans la bulle centrale -->
                  <img class="rounded-circle img-fluid" src="{{datas.image_experience|e}}" alt="">
                </div>

                <div class="timeline-panel">
                  	<div class="timeline-heading">
                  		<!--Section contenant le nom de l'entreprise-->
                      <!-- On test si la societe n'a pas de site internet stocke dans la bdd alors -->
                      {% if datas.lien_site|e is empty %}
  	                  	<div class="p-3 mb-2 bg-warning text-dark text-uppercase font-weight-bold ">
  	                  	{{datas.nom_entreprise|e}} </div>
                        <!-- Sinon on affiche le nom et le lien du site de la societe-->
                      {% else %}
                        <div class="p-3 mb-2 bg-warning text-dark text-uppercase font-weight-bold ">
                        <a href="{{datas.lien_site|e}}" target="_blank" >{{datas.nom_entreprise|e}} </a> </div>
                      {% endif %}

	                  	<!--Section contenant le nom du poste -->
	                  	<h4 class="subheading">{{datas.nom_poste|e}}</h4>
                      <p class="font-weight-bold text-uppercase font-italic" > {{datas.nom_projet|e}}</p>

	                  	<!--Section contenant la date de debut et de fin du projet-->
	                  	<p class="font-weight-bold">{{datas.date_debut_projet|e}} - {{datas.date_fin_projet|e}}</p>
                      

	                  	<!--Section contenant les langages et les outils -->
                      Langage(s) :<p class="font-weight-bold text-uppercase font-italic" > {{datas.langages|e}}</p>
                      Outils/Frameworks:<p class="font-weight-bold text-uppercase font-italic"> {{datas.outils|e}}</p>
	                  <!--  <p class="text-muted">- Langages : {{datas.langages|e}}
	                    				    </br>- Outils/Frameworks: {{datas.outils|e}}
	                    </p>-->
	            
	            		<!-- Lien de la fiche descriptif de poste-->
	                  	<a href="{{datas.fiche_descriptif|e}}" target="_blank" class="btn btn-warning font-weight-normal" role="button" aria-pressed="true" >Télécharger la fiche descriptif</a>
					</div>
                </div>
            </li>
             

			{% else %}
				<!-- Affichage a droite de l'ecran -->
				 <li class="timeline-inverted">
                <div class="timeline-image">
                	<!--Image de l'experience pro dans la bulle centrale -->
                  <img class="rounded-circle img-fluid" src="{{datas.image_experience|e}}" alt="">
                </div>

                <div class="timeline-panel">
                  	<div class="timeline-heading">
                  		<!--Section contenant le nom de l'entreprise-->
                      <!-- On test si la societe n'a pas de site internet stocke dans la bdd alors -->
                      {% if datas.lien_site|e is empty %}
                        <div class="p-3 mb-2 bg-warning text-dark text-uppercase font-weight-bold ">
                        {{datas.nom_entreprise|e}} </div>
                        <!-- Sinon on affiche le nom et le lien du site de la societe-->
                      {% else %}
                        <div class="p-3 mb-2 bg-warning text-dark text-uppercase font-weight-bold ">
                        <a href="{{datas.lien_site|e}}" target="_blank" >{{datas.nom_entreprise|e}} </a> </div>
                      {% endif %}

	                  	<!--Section contenant le nom du poste -->
	                  	<h4 class="subheading">{{datas.nom_poste|e}}</h4>
                      <p class="font-weight-bold text-uppercase font-italic" > {{datas.nom_projet|e}}</p>


	                  	<!--Section contenant la date de debut et de fin du projet-->
	                  	<p class="font-weight-bold">{{datas.date_debut_projet|e}} - {{datas.date_fin_projet|e}}</p>

	                  	<!--Section contenant les langages et les outils -->
                      <!--Section contenant les langages et les outils -->
                      Langage(s) :<p class="font-weight-bold text-uppercase font-italic" > {{datas.langages|e}}</p>
                      Outils/Frameworks:<p class="font-weight-bold text-uppercase font-italic"> {{datas.outils|e}}</p>
                      <!--
	                    <p class="text-muted">- Langages : {{datas.langages|e}}
	                    				    </br>- Outils/Frameworks: {{datas.outils|e}}
	                    </p>-->
	            
	            		<!-- Lien de la fiche descriptif de poste-->
	                  	<a href="{{datas.fiche_descriptif|e}}" target="_blank" class="btn btn-warning font-weight-normal" role="button" aria-pressed="true" >Télécharger la fiche descriptif</a>
					</div>
                </div>
            </li>
              

			{% endif %}
{% endfor %}


          
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Début
                    <br>de mon
                    <br>expérience</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>


      </div>
    </section>


{% endblock %}
